/.phpunit.cache
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed
/bootstrap
/config
/storage
/tests
tailwind.config.js
vite.config.js
postcss.config.js
phpunit.xml
package.json
composer.json
composer.lock
/app/Providers/AppServiceProvider.php
.editorconfig
.env.example
.gitattributes
/routes/console.php
/public/storage/.gitignore
/public/robots.txt
/public/favicon.ico
/public/.htaccess
/database/factories/UserFactory.php
/database/.gitignore
/public/index.php
/resources/css
/resources/js
/app/Http/Controllers/Controller.php
/app/Models/User.php
/artisan
/database/migrations/0001_01_01_000000_create_users_table.php
/database/migrations/0001_01_01_000001_create_cache_table.php
/database/migrations/0001_01_01_000002_create_jobs_table.php
/database/seeders/DatabaseSeeder.php
/resources/views/welcome.blade.php